* {
    border: 1px red solid !important
  }

/* Full page */

body {
    margin: 0;   
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
  }

.header-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

/* Content */
.section1 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

.section1-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 1200px;

/* Footer */

/* Other */
button{
    background-color: #3882F6;
    color: #F9FAF8;
}